body {
  overflow: hidden; /* Hide scrollbars */
}

.wolverine {
  position: absolute;
  animation: scale 3s ease 1s normal none;
  animation-fill-mode:forwards;
}

@keyframes scale {
  0.0%{
      transform-origin: center;
      transform: scale(1);
      opacity: 1;
  }
  10%{
      transform-origin: center;
      transform: scale(2);
      opacity: 0;
  }
  100% {
    transform-origin: center;
      transform: scale(2);
      opacity: 0;
      display: none;
  }
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(
    rgba(0, 44, 138, 0.65), 
    rgba(255, 239, 62, 0.65)
  ), url('./x.jpeg');
  background-size: cover;
}
.flex {
  display: flex;
  flex-wrap: wrap;;
}
#section2, 
#section3 {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
}

#section3 {
  background: url('./media/lord.jpg');
  background-attachment: fixed;
  background-position: left;
}
#spider, 
#guard, 
#star {
  width: 20%;
  height: auto;
  margin: 50px;
  z-index: 1;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
